<h1>Edit Your Info</h1>

<%= render partial: 'form' %>

<% unless current_pupil %>
  <h3>Open dates: </h3>
  <%= render partial: 'users/date', collection: @user.open_dates %>
  <%= render partial: 'tutor_dates/form' %>
<% end %>
