<div class="jumbotron">
  <h1>Welcome to Pair Proposal!</h1>
  <p>You can find the perfect pair for any topic.</p>

  <% unless current_user %>
    <%= link_to 'Create A New Account Today!', new_user_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
